<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC2Q_eRc8yYZb-1f50rbBqgnTEshAqbzHw</string>
	<key>GCM_SENDER_ID</key>
	<string>166053533505</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.travi.tagoApp</string>
	<key>PROJECT_ID</key>
	<string>tago-f50ee</string>
	<key>STORAGE_BUCKET</key>
	<string>tago-f50ee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:166053533505:ios:9a77ccfdcf40a2491673c0</string>
</dict>
</plist>